h1 About Me
p This is a simple example of how to pass/use JSON data to one of our views.
h3 <a href="#{me.web}" target="_blank">#{me.name}</a>
p <a href="http://twitter.com/#{me.handle}" target="_blank">#{me.handle}</a>
<br /><br />
a(href="/", title="Home") Back To Home